@red: #dd2127;

.bgfade( @color, @fade ){
        background-color: fadeout(@color, 100-@fade*100);
        @rgbahex: ~`function(color, fade){var t = (Math.round(255*fade)).toString(16).toUpperCase();t=t.length==1?'0'+t:t;return '#'+t+color.substr(1)}("@{color}","@{fade}")`;
        filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr=@{rgbahex}, endColorstr=@{rgbahex},GradientType=0 )";
}
/* Centered Background Image - http://css-tricks.com/perfect-full-page-background-image/ */
html{
	background: #000 url('../img/bkgrd.flames.jpg') no-repeat top center fixed; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/*
	-webkit-background-size: auto;
	background-size: auto;
	*/
}

body{
	padding-left: 0;
	padding-right: 0;
}

.container{
	padding-left: 20px;
	padding-right: 20px;
}

#header{
	text-align: center;
	
	img{display: block; margin: 0 auto}
	
	#logo-rectangle{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	#logo-square{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#tagline{
		width: 100%;
		margin-bottom: 20px;
	}
}
#footer{
	text-align: center;
	margin: 20px 0;
}

span.new{
	width: 29px;
	height: 28px;
	background: transparent url('../img/icon.new.png') no-repeat;
	display: inline-block;
	text-indent: -9999px;
	margin-right: 4px;
}

.social-buttons{
	text-align: center;
	clear: both;
	
	a{
		display: block;	
		margin-bottom: 8px;
	}
}

.table{
	td{
		line-height: 26px;
		
		&.tickets_link, &.details{
			text-align: center;
			line-height: 1.25em;
			.note{
				font-size: 12px;
			}
		}
	}
	
	&.table-events{
		
		h3{
			padding: 0;
			margin: 0 0 4px 0;
			line-height: 24.5px;
		}
		
		td{
			text-align: center;
			
			img{
				display: block;
				margin: 8px auto 16px auto;
				width: 98%;
			}
		}
	}
	
	&.table-wide.table-striped{
		tbody{
			&>tr.striped{
				&>td, &>th{
					background-color: #37080a;
				}
			}
			&>tr.striped:nth-child(odd){
				&>td, &>th{
					background-color: #000;
				}
			}
		}		
	}
	
	&.table-striped{
		thead{
			&>tr>th{
				.bgfade( @red, .7 );
			}
		}
		tbody{
			&>tr:nth-child(odd){
				&>td, &>th{
					.bgfade( @red, .3 );
					/*background-color: rgba( 51, 51, 51, .6 );*/
				}
			}
		}
	}

	&.table-lwff{
		a{
			color: #fff;
		}	

		thead{
			tr{
				th, td{
					.bgfade( @red, .7 );
				}
			}
		}
		tbody{
			&>tr.striped{
				&>td, &>th{
					.bgfade( @red, .3 );
				}
			}
			&>tr.striped:nth-child(4n - 1){
				&>td, &>th{
					background-color: transparent;
				}
			}

			&>tr.details{
				display: none;
				
				p{
					line-height: 1.5em;
				}
				&>td, &>th{
					.bgfade( @red, .3 );
				}
			}
			&>tr.details:nth-child(4n){
				&>td, &>th{
					background-color: transparent;
				}
			}
		}
	}
	
	&.table-bordered{
		border-color: darken( @red, 20% );
		
		th, td{
			border-color: darken( @red, 20% );
		}
	}	
	
	&.table-hover{
		tbody{
			&>tr:hover>td{
				background-color: rgba( 66, 66, 66, .5 );
			}
		}
	}
}

.modal-body{
	padding: 0;
	overflow: hidden;
}

.gallery{
	a{
		display: block;
		float: left;
		margin-right: 5%;
		margin-bottom: 5%;
		width: 30%;
		
		&:nth-child( 3n + 3 ){
			margin-right: 0;
		}
	}
	
	img{

	}
}

.carousel-inner{
	div{
		background: #000;
	}
	
	img{
		width: auto;
		max-width: 560px;
		height: auto;
		max-height: 400px;
		margin: 0 auto;
	}
}

.video-thumbnail{
	img{
		padding-bottom: 10px;
	}
}

/* Bootstrap Styles Generator: http://www.stylebootstrap.info/index.php?style=sTCxfbX9NBC37j0pqMpT3 */
body {margin: 0; /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 13px;*/ color: #ffffff; background-color: transparent;}
a {color: #dd2127;} 
p {/*font-size: 16px;*/}
h1, h2, h3, h4, h5, h6 {color: #fff;}
h3{line-height: 23px;}
h3.table-title{margin-bottom: 8px; text-align: center}
.modal{
	h1, h2, h3, h4, h5, h6{
		color: #000;
	}
}
.page-header {border-bottom: 1pxpx solid #eeeeee;}
hr {border-top: 1px solid #e5e5e5; border-bottom: 1px solid #ffffff;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {background-color: #eee; padding: 4px 4px 4px 4px; font-size: 13px; color: #333333; border: 1px solid #ccc;}
.well {background-color: #727272;}
.alert {padding: 8px 35px 8px 14px; background-color: #ede2aa; border: 1px solid #fbeed5;}
.alert-success {background-color: #dff0d8; border-color: #d6e9c6;}
.alert-success, .alert-success .alert-heading {color: #468847;}
.alert-danger, .alert-error {background-color: #f2dede; border-color: #eed3d7;}
.alert-danger, .alert-error, .alert-danger .alert-heading, .alert-error .alert-heading {color: #b94a48;}
.alert-info {background-color: #d9edf7; border-color: #bce8f1;}
.alert-info, .alert-info .alert-heading {color: #3a87ad;}
.label, .badge {padding: 1px 3px 2px; font-size: 9.75px; color: #ffffff; background-color: #999999;}
.label-important, .badge-important {background-color: #468847;}
.label-warning, .badge-warning {background-color: #b94a48;}
.label-success, .badge-success {background-color: #f89406;}
.label-info, .badge-info {background-color: #3a87ad;}

/* Bootstrap Buttons [http://blog.koalite.com/bbg/] */
.btn-facebook {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #3B5998;
	*background-color: #3B5998;
	background-image: -moz-linear-gradient(top, #8B9DC3, #3B5998);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8B9DC3), to(#3B5998));
	background-image: -webkit-linear-gradient(top, #8B9DC3, #3B5998);
	background-image: -o-linear-gradient(top, #8B9DC3, #3B5998);
	background-image: linear-gradient(to bottom, #8B9DC3, #3B5998);
	background-repeat: repeat-x;
	border-color: #3B5998;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8B9DC3', endColorstr='#3B5998', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook.active,
.btn-facebook.disabled,
.btn-facebook[disabled] {
	color: #FFFFFF;
	background-color: #3B5998;
	*background-color: #003bb3;
}

.btn-twitter {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #1177b7;
	*background-color: #1177b7;
	background-image: -moz-linear-gradient(top, #51AAE7, #1177b7);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51AAE7), to(#1177b7));
	background-image: -webkit-linear-gradient(top, #51AAE7, #1177b7);
	background-image: -o-linear-gradient(top, #51AAE7, #1177b7);
	background-image: linear-gradient(to bottom, #51AAE7, #1177b7);
	background-repeat: repeat-x;
	border-color: #1177b7;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51AAE7', endColorstr='#1177b7', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter.active,
.btn-twitter.disabled,
.btn-twitter[disabled] {
	color: #FFFFFF;
	background-color: #1177b7;
	*background-color: #003bb3;
}
.btn-store {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #238C23;
	*background-color: #238C23;
	background-image: -moz-linear-gradient(top, #62BF4A, #238C23);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62BF4A), to(#238C23));
	background-image: -webkit-linear-gradient(top, #62BF4A, #238C23);
	background-image: -o-linear-gradient(top, #62BF4A, #238C23);
	background-image: linear-gradient(to bottom, #62BF4A, #238C23);
	background-repeat: repeat-x;
	border-color: #238C23;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62BF4A', endColorstr='#238C23', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-store:hover,
.btn-store:active,
.btn-store.active,
.btn-store.disabled,
.btn-store[disabled] {
	color: #FFFFFF;
	background-color: #238C23;
	*background-color: #003bb3;
}

/* Display Targeting */
@media only screen and (min-width: 800px){
	#header{
		
		#tagline{
			width: 80%;
			margin-bottom: 40px;
		}
	}
	
	.social-buttons{
		margin-top: 30px;
		
		a{
			display: inline;
			
			&:first-child{
				margin-right: 20px;
			}
			
			&:last-child{
				margin-left: 20px;
			}
		}
	}
	
	.table{margin-top: 20px}
	
	.table-title{display: none}
	
	
	.video-thumbnail{
		img{
			padding-bottom: 20px;
		}
	}
}